//body{background-color:black;color:white;}
h1{text-align:center;color:green;}
h2{text-align:center;color:blue;}
img{text-align:center; max-width: 30%;}
ol>li{font-weight:bold}
p{text-indent:2em;}
p.svyaz{font-size:150%;color:red;}
